<p><strong>Combinatorics (Math 4707 and Math 4990), Fall 2017</strong></p>
<p><a href="..">Darij Grinberg</a> (203B Vincent Hall)<br />
<!--Office hours:</p>
<ul>
<li><span style="text-decoration: underline;">Math 4707:</span> Monday 11:00--12:00, Wednesday 16:30--17:30, Thursday 13:30--14:30.</li>
<li><span style="text-decoration: underline;">Math 4990:</span> By appointment (<a href="mailto:dgrinber@umn.edu">dgrinber@umn.edu</a>)</li>
</ul>
-->
<p>Moodle sites:</p>
<ul>
<li><a href="https://ay17.moodle.umn.edu/course/view.php?id=4338">Moodle site for 4707</a>;</li>
<li><a href="https://ay17.moodle.umn.edu/course/view.php?id=4227">Moodle site for 4990</a>.</li>
</ul>
<hr />
<p><strong>Main resources:</strong></p>
<p><a href="syll.pdf">Syllabus</a>.</p>
<p>Not yet available: <a href="cafe.pdf">my lecture notes</a> (currently, the PDF just has references).<!-- (Also, <a href="https://github.com/darijgr/nogra">source code of the lecture notes</a>, for those interested.)<br /> Make sure to <strong>refresh your browser</strong> when you access these notes! Otherwise, you might be looking at an outdated (cached) version.</p> --></p>
<p><a href="60610lectures2017-Galvin.pdf">David Galvin's notes "Basic discrete mathematics"</a>. This is a rather nice set of notes that will have a lot of overlap with this class. Please mail darijgrinberg@gmail.com for questions and comments (I am maintaining these notes currently).</p>
<p>Quick book references: Loehr (<a href="http://www.math.vt.edu/people/nloehr/bijbook.html">errata</a>); <a href="https://www.csie.ntu.edu.tw/~r97002/temp/Concrete%20Mathematics%202e.pdf">Graham/Knuth/Patashnik</a> (<a href="http://www-cs-faculty.stanford.edu/~knuth/gkperr1.html">errata</a>); <a href="https://math.dartmouth.edu/news-resources/electronic/kpbogart/">Bogart</a>; <a href="http://www.worldscientific.com/worldscibooks/10.1142/8027">B&oacute;na</a>.</p>
<p>Basics on equivalence relations and equivalence classes: <a href="lynn-eqclasses.zip">class materials by Melissa Lynn</a> and by Jonathan Rogness (<a href="http://www-users.math.umn.edu/~rogness/math3283w/f16docs/m3283-section-2.2.pdf">part 1</a> and <a href="http://www-users.math.umn.edu/~rogness/math3283w/f16docs/m3283-section-2.2-finish.pdf">part 2</a>).</p>
<p>Extra notes: <a href="logexp.pdf">Why log and exp are inverse</a>; <a href="../17s/hw5s.pdf">Sandpiles with proofs (HW5 from 5707S17)</a>.</p>
<p>See <a href="../17s">Math 5707 from Spring 2017</a> for some graph theory, specifically <a href="../17s/5707lec9.pdf">lecture 9</a> for trees and their many definitions.</p>
<p>Blackboard writing from 4990 (only from the second half of the semester):</p>
<ul>
<li><a href="4990-2017oct10.pdf">October 10</a> | <a href="4990-2017oct17.pdf">October 17</a> | <a href="4990-2017oct24.pdf">October 24</a> | <a href="4990-2017oct31.pdf">October 31</a> (there has never been a page 3) | <a href="4990-2017nov7.pdf">November 7</a> | <a href="4990-2017nov14.pdf">November 14</a> | <a href="4990-2017nov21.pdf">November 21 (bonus material)</a> | <a href="4990-2017nov28.pdf">November 28</a> | <a href="4990-2017dec5.pdf">December 5</a>.</li>
</ul>
<hr />
<p><strong>Homework and other problems:</strong></p>
<p><a href="hw-template.tex">A LaTeX template</a> for those who want to write their solutions in LaTeX. (<a href="hw-template.pdf">Compiled PDF.</a>)</p>
<p><span style="text-decoration: underline;">Math 4707:</span></p>
<ul>
<li><a href="hw1.pdf">Homework set 1</a> (<a href="hw1.tex">TeX source</a>). <a title="Solutions" href="hw1s.pdf">Solutions</a> (<a href="hw1s.tex">TeX source</a>). <a href="hw1s-richard.pdf">Alternative solutions by Mark Richard</a>.</li>
<li><a href="hw2.pdf">Homework set 2</a> (<a href="hw2.tex">TeX source</a>). <a title="Solutions" href="hw2s.pdf">Solutions</a> (<a href="hw2s.tex">TeX source</a>).</li>
<li><a href="mt1.pdf">Midterm 1</a> (<a href="mt1.tex">TeX source</a>). <a title="Solutions" href="hw3os.pdf">Solutions</a> (<a href="hw3os.tex">TeX source</a>). Note: The solutions include some extra questions.</li>
<li><a href="hw3.pdf">Homework set 3</a> (<a href="hw3.tex">TeX source</a>). <a title="Solutions" href="hw4os.pdf">Solutions</a> (<a href="hw4os.tex">TeX source</a>).</li>
<li><a href="hw4.pdf">Homework set 4</a> (<a href="hw4.tex">TeX source</a>). <a href="hw5os.pdf">Provisional solutions</a> (<a href="hw5os.tex">TeX source</a>).</li>
<li><a href="mt2.pdf">Midterm 2</a> (<a href="mt2.tex">TeX source</a>). <a href="hw6os.pdf">Provisional solutions to Exercises 1-5, 7</a> (<a href="hw6os.tex">TeX source</a>).</li>
<li><a href="hw5.pdf">Homework set 5</a> (<a href="hw5.tex">TeX source</a>). <a href="hw7os.pdf">Solutions</a> (<a href="hw7os.tex">TeX source</a>).</li>
<li><a href="hw6.pdf">Homework set 6</a> (<a href="hw6.tex">TeX source</a>). <a href="hw8os-chen.pdf">Solutions to Exercises 2, 3, 4, 7 by Angela Chen</a>. <a href="hw8os.pdf">Provisional solution sketches to Exercises 1, 3-6</a> (<a href="hw8os.tex">TeX source</a>). </li>
<li><a href="mt3.pdf">Midterm 3</a> (<a href="mt3.tex">TeX source</a>). <a href="hw9os-chen.pdf">Solutions to Exercises 1, 3 by Angela Chen</a>. For a solution to Exercise 2, see Exercise 5.27 in <a href="https://github.com/darijgr/detnotes/releases/tag/2019-01-10">[detnotes] (version of 10 January 2019)</a>. For a solution to Exercise 9, see <a href="../18s/flows.pdf">my <i>Notes on network flows</i></a>.</li>
</ul>
<p><span style="text-decoration: underline;">Math 4990:</span></p>
<ul>
<li><a href="hw1o.pdf">Homework set 1</a> (<a href="hw1o.tex">TeX source</a>). <a title="Solutions" href="hw1s.pdf">Solutions</a> (<a href="hw1s.tex">TeX source</a>). <a href="hw1s-richard.pdf">Alternative solutions by Mark Richard</a>.</li></li>
<li><a href="hw2o.pdf">Homework set 2</a> (<a href="hw2o.tex">TeX source</a>). <a title="Solutions" href="hw2s.pdf">Solutions</a> (<a href="hw2s.tex">TeX source</a>).</li>
<li><a href="hw3o.pdf">Homework set 3</a> (<a href="hw3o.tex">TeX source</a>). <a title="Solutions" href="hw3os.pdf">Solutions</a> (<a href="hw3os.tex">TeX source</a>).</li>
<li><a href="hw4o.pdf">Homework set 4</a> (<a href="hw4o.tex">TeX source</a>). <a title="Solutions" href="hw4os.pdf">Solutions</a> (<a href="hw4os.tex">TeX source</a>).</li>
<li><a href="hw5o.pdf">Homework set 5</a> (<a href="hw5o.tex">TeX source</a>). <a href="hw5os.pdf">Provisional solutions</a> (<a href="hw5os.tex">TeX source</a>).</li>
<li><a href="hw6o.pdf">Homework set 6</a> (<a href="hw6o.tex">TeX source</a>). <a href="hw6os.pdf">Provisional solutions to Exercises 1-5, 7</a> (<a href="hw6os.tex">TeX source</a>).</li>
<li><a href="hw7o.pdf">Homework set 7</a> (<a href="hw7o.tex">TeX source</a>). <a href="hw7os.pdf">Solutions</a> (<a href="hw7os.tex">TeX source</a>).</li>
<li><a href="hw8o.pdf">Homework set 8</a> (<a href="hw8o.tex">TeX source</a>). <a href="hw8os-chen.pdf">Solutions to Exercises 2, 3, 4, 7 by Angela Chen</a>. <a href="hw8os.pdf">Provisional solution sketches to Exercises 1, 3-6</a> (<a href="hw8os.tex">TeX source</a>). </li></li></li>
<li><a href="hw9o.pdf">Homework set 9</a> (<a href="hw9o.tex">TeX source</a>). <a href="hw9os-chen.pdf">Solutions to Exercises 1, 3 by Angela Chen</a>. For a solution to Exercise 2, see Exercise 5.27 in <a href="https://github.com/darijgr/detnotes/releases/tag/2019-01-10">[detnotes] (version of 10 January 2019)</a>.</li>
</ul>
<hr />
<p><small>The views and opinions expressed in this page are strictly those of the page author. The contents of this page have not been reviewed or approved by the University of Minnesota.</small></p>