<p><strong>Combinatorics (Math 4707), Spring 2018</strong></p>
<p><a href="..">Darij Grinberg</a> (203B Vincent Hall)<br />
<!--Office hours: Monday 16:35--17:35, Tuesday 14:00--15:00, Wednesday 16:35--17:35.
Also, by appointment (<a href="mailto:dgrinber@umn.edu">dgrinber@umn.edu</a>).-->
<p>
<a href="https://ay17.moodle.umn.edu/course/view.php?id=11806">Moodle site for 4707</a>.
<hr />
<p><strong>Main resources:</strong></p>
<p><a href="syll.pdf">Syllabus</a>.</p>
<!--
<p>Not yet available: <a href="cafe.pdf">my lecture notes</a> (currently, the PDF just has references).<!-- (Also, <a href="https://github.com/darijgr/nogra">source code of the lecture notes</a>, for those interested.)<br /> Make sure to <strong>refresh your browser</strong> when you access these notes! Otherwise, you might be looking at an outdated (cached) version.</p> -->
<p>Quick book references (<i>italics</i> = free):
  Loehr (<a href="http://www.math.vt.edu/people/nloehr/bijbook.html">errata</a>);
  <i><a href="https://www.csie.ntu.edu.tw/~r97002/temp/Concrete%20Mathematics%202e.pdf">Graham/Knuth/Patashnik</a> (<a href="http://www-cs-faculty.stanford.edu/~knuth/gkperr1.html">errata</a>)</i>;
  <i><a href="https://math.dartmouth.edu/news-resources/electronic/kpbogart/">Bogart</a></i>;
  <a href="http://www.worldscientific.com/worldscibooks/10.1142/8027">B&oacute;na</a>;
  <i><a href="../17f/60610lectures2017-Galvin.pdf">Galvin</a></i>;
  <i><a href="http://courses.csail.mit.edu/6.042/spring18/mcs.pdf">Lehman/Leighton/Meyer</a></i>.</p>
<p>Basics on equivalence relations and equivalence classes: <a href="../17f/lynn-eqclasses.zip">class materials by Melissa Lynn</a> and by Jonathan Rogness (<a href="http://www-users.math.umn.edu/~rogness/math3283w/f16docs/m3283-section-2.2.pdf">part 1</a> and <a href="http://www-users.math.umn.edu/~rogness/math3283w/f16docs/m3283-section-2.2-finish.pdf">part 2</a>).</p>
<p>Extra notes: <a href="flows.pdf">Network flows</a> (<a href="flows.tex">sourcecode</a>); this includes definitions of simple digraphs and multidigraphs.</p>
<p>See <a href="../17s">Math 5707 from Spring 2017</a> for some graph theory, specifically <a href="../17s/5707lec9.pdf">lecture 9</a> for trees and their many definitions.</p>
<p>See <a href="../17f">Math 4707 from Fall 2017</a> for some solved exercises.</p>
<p>"Black"board writing:</p>
<ul>
<li>
  <a href="4707-2018jan17.pdf">Jan 17</a> |
  <a href="4707-2018jan22.pdf">Jan 22</a> | 
  <a href="4707-2018jan24.pdf">Jan 24</a> | 
  <a href="4707-2018feb5.pdf">Feb 5</a> | 
  <a href="4707-2018feb7.pdf">Feb 7</a> | 
  <a href="4707-2018feb12.pdf">Feb 12</a> | 
  <a href="4707-2018feb14.pdf">Feb 14</a> | 
  <a href="4707-2018feb19.pdf">Feb 19</a> | 
  <a href="4707-2018feb21.pdf">Feb 21</a> | 
  <a href="4707-2018feb26.pdf">Feb 26</a> | 
  <a href="4707-2018mar5.pdf">Mar 5</a> | 
  <a href="4707-2018mar19.pdf">Mar 19</a> | 
  <a href="4707-2018mar21.pdf">Mar 21</a> | 
  <a href="4707-2018mar26.pdf">Mar 26</a> | 
  <a href="4707-2018mar28.pdf">Mar 28</a> | 
  <a href="4707-2018apr2.pdf">Apr 2</a> | 
  <a href="4707-2018apr4.pdf">Apr 4</a> | 
  <a href="4707-2018apr9.pdf">Apr 9</a> | 
  <a href="4707-2018apr11.pdf">Apr 11</a> | 
  <a href="4707-2018apr23.pdf">Apr 23</a> | 
  <a href="4707-2018apr25.pdf">Apr 25</a> (<a href="4707-2018apr25-add.txt">references</a>) | 
  <a href="4707-2018apr30.pdf">Apr 30</a> | 
  <a href="4707-2018may2.pdf">May 2</a> | 
</li>
</ul>
<p>(Jan 29: Vic Reiner was substituting, talking about Inclusion/Exclusion and the Multinomial Formula. See Sections 16 of <i><a href="../17f/60610lectures2017-Galvin.pdf">Galvin</a></i> for the former and <a href="https://en.wikipedia.org/wiki/Multinomial_theorem">the WP</a> for the latter.)<br>
(Fri 28: Vic Reiner was substituting, talking about Catalan numbers.)<br>
(Mar 7: Vic Reiner was substituting, talking about generating functions.)</p>
<hr />
<p><strong>Homework and other problems:</strong></p>
<p><a href="hw-template.tex">A LaTeX template</a> for those who want to write their solutions in LaTeX. (<a href="hw-template.pdf">Compiled PDF.</a>)</p>
<ul>
<li><a href="hw1.pdf">Homework set 1</a> (<a href="hw1.tex">TeX source</a>). <a title="Solutions" href="hw1s.pdf">Solutions</a> (<a href="hw1s.tex">TeX source</a>).</li>
<li><a href="hw2.pdf">Homework set 2</a> (<a href="hw2.tex">TeX source</a>). <a title="Solutions" href="hw2s.pdf">Solutions</a> (<a href="hw2s.tex">TeX source</a>).</li>
<li><a href="mt1.pdf">Midterm 1</a> (<a href="mt1.tex">TeX source</a>). <a title="Solutions" href="mt1s.pdf">Solutions</a> (<a href="mt1s.tex">TeX source</a>). <a href="mt1s-olson.pdf">Solutions to Exercises 1, 4 and 5 by Brady Olson</a>.</li>
<li><a href="hw3.pdf">Homework set 3</a> (<a href="hw3.tex">TeX source</a>). <a title="Solutions" href="hw3s.pdf">Solutions</a> (<a href="hw3s.tex">TeX source</a>). <a href="hw3s-gorski.pdf">Solutions to Exercises 1, 3 and 5 by Nathaniel Gorski</a>.</li>
<li><a href="further.pdf">Further reading</a> (<a href="further.tex">TeX source</a>), including applications, history and challenge problems.</li>
<li><a href="mt2.pdf">Midterm 2</a> (<a href="mt2.tex">TeX source</a>). <a title="Solutions" href="mt2s.pdf">Solutions to Exercises 1, 2 and 3</a> (<a href="mt2s.tex">TeX source</a>). <a href="mt2s-gorski.pdf">Solutions to Exercises 1, 3, 4 and 6 by Nathaniel Gorski</a>. <a href="mt2s-olson.pdf">Solutions to Exercises 1, 5 and 6 by Brady Olson</a>.</li>
<li><a href="hw4.pdf">Homework set 4</a> (<a href="hw4.tex">TeX source</a>). <a title="Solutions" href="hw4s.pdf">Solutions</a> (<a href="hw4s.tex">TeX source</a>). <a href="hw4s-gorski.pdf">Solutions to Exercises 1 and 4 by Nathaniel Gorski</a>. </li>
<li><a href="hw5.pdf">Homework set 5</a> (<a href="hw5.tex">TeX source</a>). <a href="hw5s.pdf">Provisional solutions</a> (<a href="hw5s.tex">TeX source</a>).</li> </li>
<li><a href="mt3.pdf">Midterm 3</a> (<a href="mt3.tex">TeX source</a>). <a href="mt3s.pdf">Solutions to Exercises 1 and 3a</a> (<a href="mt3s.tex">TeX source</a>). <a href="mt3s-gorski.pdf">Solutions to Exercises 1, 2 and 4 by Nathaniel Gorski</a>. <a href="mt3s-hirsch.pdf">Solutions to Exercises 1, 2 and 5 by James Hirsch</a>. </li>
<li><a href="averages.txt">Average scores</a>.</li>
</ul>
<hr />
<p><small>The views and opinions expressed in this page are strictly those of the page author. The contents of this page have not been reviewed or approved by the University of Minnesota.</small></p>